
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/**
 * general classes
*/
#container-search-filter
{
    font-family: 'Comfortaa', cursive;
}

#content-vetrina .card-body
{
    height: 8rem;
}
#content-vetrina .card
{
    margin-bottom: 1em;
}

.content-main-title
{
    margin-bottom: 1em;
}
.content-main-title span,
.content-main-title h3,
.content-main-title p
{
    display: inline;
}
.container
{
    font-size: 1em;
}
#content-pease,
#content-company
{
    overflow: auto;
    max-height: 25em;
}
#container-search-filter .title-filter {

    color: black;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 0.2em;
    cursor: pointer;

}
.text-selected:hover
{
    color: black;
    /*font-weight: bold;*/
    /*text-decoration: underline black;*/
    cursor: pointer;
    font-size: 1.1em;
}



/**
 * Plus - minus
*/

.plus-filter
{
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #7b7d7d;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.plus-filter:hover
{
    cursor: pointer;
    color: black;
    font-weight: bold;
}


[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed
{
    display: none;
}

/**
 * Content tag
*/


/**
 * Content Pease
*/
#container-search-filter ul,
#container-search-filter ul li,
#container-search-filter ul li ul,
#container-search-filter ul li ul li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#container-search-filter ul li ul li
{
    margin-left: 1em;
}



/**
 * Content mini-search
 */


.search_mini_content {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.search_mini_content form {

    border:0.1em solid rgba(  145, 156, 147  ,1);
    padding: 0.3em;
    border-radius: 8em;
    background: white;
    display:inline;
}
.input_mini_search {

    background-color: transparent;
    font-size: 0.9em;
    opacity: 1;
    width: 11em;

}


.fa, .fa-search {
    color: rgba(  145, 156, 147  ,1);
}

