
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

/**
 * general classes
*/
#container-search-filter
{
    font-family: 'Comfortaa', cursive;
    padding-bottom: 5em;
}
#container-search-filter ul,
#container-search-filter ul li,
#container-search-filter ul li ul,
#container-search-filter ul li ul li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#container-search-filter ul li ul li {
    margin-left: 1em;
}


.container
{
    font-size: 1em;
}
#content-category,
#content-tag,
#content-pease,
#content-company
{
    overflow: auto;
    max-height: 25em;
}
#container-search-filter .title-filter {

    color: black;
    text-decoration: none;
    padding: 0.8em;
    border-radius: 0.2em;
    cursor: pointer;

}
.text-selected:hover
{
    color: black;
    cursor: pointer;
    font-size: 1.1em;
}


/**
 * Plus - minus
*/

.plus-filter
{
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #7b7d7d;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.plus-filter:hover
{
    cursor: pointer;
    color: black;
    font-weight: bold;
}


[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed
{
    display: none;
}


/**
 * show-search
*/

div.show-search-tag{
    margin-bottom: .5em;
    margin-top: .5em;
}

div.search-card-title,
div.search-card {
    float: left;
    font-family: 'Comfortaa', cursive;
    color: darkgrey;
}
div.search-card-title{
    margin-left: 0.2em;
}
div.search-card {
    margin: .1em;
    padding: 0 .3em 0 .3em;
    border: 1px solid darkgray;
    border-radius: 5em;
}


/**
 * Content mini-search
 */


.search_mini_content input[type=text]{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;

}

.search_mini_content form {

    border: 0.1em solid rgba(  145, 156, 147  ,1);
    padding: 0.3em;
    border-radius: 8em;
    background: white;
    display: inline;
}
.input_mini_search {

    font-size: 0.9em;
    width: 11em;
}


.fa, .fa-search {
    color: rgba(  145, 156, 147  ,1);
}


/**
 * Company card
*/



div.showcase {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    float: left;

    width: 12rem;

    margin: 0 .8em .2em 0;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid lightgray;



}

img.showcase-companycard {
    padding: .5em 0 .5em 0;
    height: 3rem;
    margin: 0 auto;

}
img.showcase-img {
    width: 100%;
    height: 11rem;
}

p.showcase-title {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 3.5em;
}


div.showcase a {
    color: black;
}
div.showcase a::selection {
    text-decoration: none;
}
div.showcase a:hover{
    text-decoration: none;
}

